@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Rubik:wght@400;700&display=swap');

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444;
}

.main-container {
  flex-grow: 1;
}

.title{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #000;
}

.search-button{
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 16px;
  border: 1px, #444;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-weight: 400;
  line-height: 20px;
  background-color: #FFE16F;
  color: #000;
}

.search-input::placeholder {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

.navigation-user, .navigation-shop-list {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}

.cart-button{
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: 0;
  font-weight: 400;
  line-height: 30px;
  background-color: #FFE16F;
  color: #000;
}

.navigation-list {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000;
}

.link {
  text-decoration: none;
  color: #000;
}

.page-header {
  background-color: #FFE16F;
}

.slide-number{
  text-align: right;

  font-family: 'Rubik', sans-serif;
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #FFF;
}

.button{
  text-align: center;

  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  text-decoration: none;
  color:#000;

  background-color: #FFE16F;
  border: 0;
}

.visually-hidden{
  visibility: hidden;
}

.characteristics-attribute{
  font-family: 'Rubik', sans-serif;
  font-size: 36px;
  line-height: 30px;
  color: #000;
}

.slider-pagination-button{
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid;
}

.catalog-category-link{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #000;
}

.delivery-block, .newsletter{
  background-color: #f0f0f0;
}

.advantages-container{
  background-color: #f0f0f0;
}

.page-footer{
  background-color: #444;
  color: #FFF;
}

.delivery-block{
  text-align: center;
}

.delivery-info-link{
  text-align: center;

  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;

  text-decoration: none;
  color: #000;
}

.transport-company{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000;
}

.contacts-subtitle{
  font-size: 24px;
}

.contacts-address{
  font-style: normal;
}
.contacts-phone{
  color: #444;
}

.reset-list{
  list-style: none;
}

.field::placeholder {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444;
}

.newsletter-button{
  background-color: #F0F0F0;
  border: 3px solid #CECECE;
}

.footer-about-text{
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.footer-list-link{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}

.footer-contacts-phone{
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: #FFF;
}

.breadcrumbs-link{
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #000;
}

.filter-title ,.sorting-type-title{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000;
}

.catalog-filter-title{
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color:#000;
}

.catalog-filter-label {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: normal;
  color:#000;
  opacity: 0.3;
}

.catalog-filter-input{
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: normal;
  color:#000;
}

.catalog-filter-item{

  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #000;
}

.select-control{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.product-card-title{
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px;
  color:  #000;
}

.product-card-price{
  text-align: right;

  line-height: normal;
  color: #444;
}

.catalog-products{
  background-color: #F0F0F0;
}

.product-container{
  background-color: #FFF;
}

.pagination-show-more{
  font-size: 16px;
  letter-spacing: 3.2px;
  background-color: #FFF;
  border: 3px solid #E5E5E5;
}

.pagination-prev, .pagination-next {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.pagination-link {
  text-align: center;

  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
  color: #444;
}

.pagination-container {
  background-color: #EBEBEB;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1040px;
  margin: 0 auto;
}

.navigation-logo{
  display: block;
  width: 145px;
}
.user-menu {
  display: flex;
  align-items: center;
  width: 1040px;
  height: 40px;
}

.navigation-shop-list{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  width: 240px;
  margin-left: auto;
}

.navigation-search{
  display: flex;
  width: 520px;
}

.search-input {
  width: 350px;
  height: 40px;
}

.search-button {
  width: 160px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  width: 230px;
  margin-left: auto;
}

.compare {
  width: 110px;
}

.cart{
  text-align: right;
  width: 100px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 1040px;
}

.catolog-toggler {
  width: 290px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  width: 515px;
  margin-left: auto;
}

.navigation-item {
  min-width: 125px;
}

.navigation-container :nth-child(3) {
  width: 145px;
}

.slider-page{
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.slider-page-container {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.characteristics {
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.button-details {
  width: 220px;
}

.characteristics-wrapper {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.characteristics-attribute {
  margin: 0;
}

.slider-button {
  width: 20px;
}

.slider-button-container {
  display: flex;
  width: 530px;
  margin-left: 30px;
}

.slider-next {
  margin-left: auto;
}

.slider-control-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

.slider-pagination {
  display: flex;
  width: 76px;
  justify-content: space-between;
  margin-left: auto;
}

.catalog-category-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 1160px;
  justify-content: space-between;
}

.catalog-category-item {
  width: 160px;
}

.advantages {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.tabs-buttons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 280px;
}


.fix {
  display: none;
}
