@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444;
}

.about-us {
  width: 520px;
}

.about-us-title, .contact-title {
  margin: 0;
  margin-bottom: 50px;
}

.about-us-description, .about-us-list, .contact-description,
.contacts-address, .contacts-schedule {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address-text {
  margin: 0;
}

.advantages {
  align-items: center;
  display: flex;
  margin: 0 auto;
  margin-bottom: 140px;
  gap: 116px;
  width: 1160px;
 }

 .advantages-tab-title {
  margin: 0;
  margin-bottom: 35px;
 }

.advantages-container {
  background-color: #f0f0f0;
 }

.breadcrumbs-link {
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
 }

.button {
  background-color: #FFE17F;
  border: 0;
  color: #000;
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
 }

.button-details {
  width: 220px;
}

.button-more-about-us {
  min-width: 270px;
  min-height: 40px;
  display: inline-block;
}

.button-decorated {
  min-width: 260px;
  min-height: 40px;
  display: inline-block;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 435px;
}

.cart {
  text-align: right;
  padding: 0;
  width: 100px;
}

.cart-button {
  background-color: #FFE17F;
  border: 0;
  padding: 0;
  color: #000;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.catalog-category {
  margin-bottom: 70px;
}

.catalog-category-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  width: 160px;
  line-height: 24px;

}

.catalog-category-image {
  background-color: #FFE17F;
  margin-bottom: 32px;
}

.catalog-category-link {
  color: #000;
  text-decoration: none;
}

.catalog-category-link-fitness-bracelets {
  white-space: nowrap;
}

.catalog-category-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

.catalog-filter {
  width: 320px;
}

.catalog-filter-input {
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: normal;
}

.catalog-filter-item {
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: normal;
}

.catalog-filter-label {
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: normal;
  opacity: 0.3;
}

.catalog-filter-title {
  color: #000;
  font-weight: 700;
  letter-spacing: -0.36px;
  line-height: 20px;
}

.catalog-products {
  display: flex;
  background-color: #F0F0F0;
  margin: 0 auto;
  width: 1160px;
}

.catalog-products-container {
  background-color: #F0F0F0;
}

.catolog-toggler {
  width: 290px;
}

.catalog-right-column {
  width: 840px;
}

.characteristics {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.characteristics-attribute {
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 36px;
  line-height: 30px;
  margin: 0;
}

.characteristics-wrapper {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.compare {
  width: 110px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 545px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.contacts {
  max-width: 532px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: #444;
}

.contacts-subtitle {
  font-size: 24px;
}

.delivery-block {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 70px;
  height: 100px;
  width: 1160px;
}

.delivery-block, .newsletter {
  background-color: #f0f0f0;
}

.delivery-info-link {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin: 0 auto;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.delivery-icon, .delivery-info-icon {
  width: 125px;
  height: 100px;
}

.delivery-icon {
  background-color: #FFE17F;
}

.field {
  width: 557px;
  height: 49px;
}

.field::placeholder {
  color: #444;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.filter-title ,.sorting-type-title {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  line-height: normal;
  text-transform: uppercase;
}

.fix {
  display: none;
}

.footer-about-text {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.footer-contacts-phone {
  width: 240px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  align-self: center;
}

.footer-contacts {
  width: 240px;
}

.footer-container {
  height: 182px;
  width: 1160px;
  margin: 70px auto;
  display: flex;
  flex-wrap: wrap;
}

.footer-list {
  display: flex;
  align-self: center;
  margin: 0;
  margin-left: 112px; /* Выровнять по центру */
  margin-right: 123px; /* Выровнять по центру */
  justify-content: space-between;
  width: 445px;
}

.footer-list-link {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-socials-list {
  width: 445px;
  margin-left: auto; /* Выровнять по центру */
  margin-right: auto; /* Выровнять по центру */
  display: flex;
  flex-wrap: nowrap; /* Изменить на nowrap для избегания переноса */
  gap: 15px;
  justify-content: center; /* Центрировать флекс элементы */
}


.footer-socials-item {
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
}

.inner-header {
  display: flex;
  flex-direction: column;
  width: 1040px;
  margin: 0 auto;
}

.link {
  color: #000;
  text-decoration: none;
}

.fake-footer-box {
  width: 115px;
}

.main-container {
  flex-grow: 1;
}

.login {
  min-width: 80px;
  text-align: right;
}


.navigation {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1040px;
  gap: 30px;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  /* margin-bottom: 120px; */
  width: 471px;
}

.navigation-item {
  margin-bottom: 30px;
  min-width: 127px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1040px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 3.6px;
  line-height: normal;
  text-transform: uppercase;
}

.navigation-logo {
  margin-top: -22px;
  display: block;
  width: 145px;
}

.navigation-search {
  display: flex;
  width: 520px;
}

.navigation-shop-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 240px;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  margin: 0;
  padding: 0;
  width: 230px;
}

.navigation-user, .navigation-shop-list {
  list-style-type: none;
  color: #000;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 30px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  min-height: 420px;
}

.newsletter-additional-text {
  margin-left: auto;
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 144px;
}

.newsletter-button {
  background-color: #F0F0F0;
  border: 3px solid #CECECE;
  width: 253px;
  height: 55px;
}

.newsletter-description {
  max-width: 560px;
  margin: 0;
}

.newsletter-form {
  display: flex;
  width: 810px;
}

.newsletter-title {
  width: 348px;
  margin: 0;
}

.page-footer {
  height: 321px;
  background-color: #444;
  color: #FFF;
}

.page-header {
  background-color: #FFE17F;
  margin: 0 auto;
  margin-top: 40px;
  width: 1160px;
  /* min-height: 300px; */
}

.pagination-container {
  background-color: #EBEBEB;
}

.pagination-link {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
  text-align: center;
}

.pagination-prev, .pagination-next {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  letter-spacing: 3.6px;
  line-height: normal;
  text-transform: uppercase;
}

.pagination-show-more {
  background-color: #FFF;
  border: 3px solid #E5E5E5;
  font-size: 16px;
  letter-spacing: 3.2px;
}

.product-card-price {
  color: #444;
  line-height: normal;
  text-align: right;
}

.product-card-title {
  color: #000;
  font-size: 18px;
  letter-spacing: -0.36px;
  line-height: 20px;
}

.product-container {
  background-color: #FFF;
}

.reset-list {
  list-style: none;
  padding: 0;
}

.search-button {
  background-color: #FFE17F;
  border: 1px, #444;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  color: #000;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 160px;
}

.search-input {
  height: 40px;
  width: 350px;
}

.search-input::placeholder {
  color: #000;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.select-control {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.slide-number {
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: right;
  width: 250px;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.slider-button {
  width: 20px;
}

.slider-button-container {
  display: flex;
  margin-left: 30px;
  width: 530px;
}

.slider-container {
  width: 1111px;
}

.slider-control-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

.slider-pegination-container {
  display: flex;
  justify-content: space-between;
  max-width: 560px;
  margin-bottom: 50px;
}

.slider-next {
  margin-left: auto;
}

.slider-page {
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

.slider {
  margin-bottom: 70px;
  margin-top: -170px;
}

.slider-page-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 600px;
}

.slider-pagination {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 76px;
}

.slider-pagination-button {
  border: 2px solid;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.slider-product-title {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 120px;
}

.slider-product-description {
  margin: 0;
  margin-bottom: 50px;
}


.subscription-form {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

.tab-buttons {
  min-width: 160px;
  min-height: 40px;
  line-height: 21px;
}

.tabs-buttons-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-width: 280px;
  min-height: 190px;
}

.tabs-description-list  {
  width: 700px;
}

.tabs-description-item {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.tab-title-container {
  max-width: 450px;
}

.title {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.transport-company {
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.36px;
  line-height: 20px;
}

.user-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 1040px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
